---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>St. Mary's College of Maryland</h1>
  <br>
  <br>


	------------------------------------------------------------------------------------------------------------------------<br> <br>

    This will be the website for Computing for Biologists for the Spring 2025 semester at St. Marys College of Maryland. All materials will be posted here. 
    <b>*Check this website regularly for updates and new content!!</b> <br> <br>
	
		--------------------------------------------------------------------------------------------------------------------------<br> <br>

	
	<b>COURSE SUMMARY:</b> Biological data gets more expansive every year, making it crucial to develop and use computational tools to sort, organize, and analyze large datasets. 
	The main goal of this course is to introduce the students to various tools that are available to them, so that they can independently work towards expertise. 
	The course itself will not aim to make you experts, but rather to introduce you to many issues and tools to work around them. 
	The first few weeks we will focus on unix/shell (computing basics) as well as on text editing (more important than people think!). 
	We will then focus on python, and finally delve a bit into github and remote computing, all crucial tools for today's programmers. 
	If time permits, we will also learn about bayesian statistics and apply our command-line knowledge to run some tree-inference analyses. 
	We will end the course with independent projects, so that you all have a chance to apply the knowledge acquired on a subject of interest to you! 
	Here is the <a href="https://github.com/pesalerno/computing_SP25/blob/main/_files/Biol313-syllabus-SP25_SALERNO.pdf">link to the course syllabus</a> <br>
	<br>  <br> 
	
	<br> <br>
	<b>IMPORTANT: </b>  We will be working almost daily on hands-on coding, so always have a computer at hand (be sure to check one out from the College if in need). 

	
	<br> <br> <br> <br>
	<b>BOOK AND RESOURCES:</b> 
	
	We will be mostly using the following resource for this course: 
	
	<a href="https://practicalcomputing.org/">Practical Computing for Biologists</a>
	, by Haddock and Dunn. We will use several other resources but they will be provided as they are needed. <br> <br>
	
	
	
	

</div>
<br> <br>
<div>

  <h1>COURSE SCHEDULE</h1>

  <table>
            <tr>
            	 <th>Date</th>
                <th>Title</th>
                <th>Homework due</th>
            </tr>
	{% assign sorted_posts = site.posts | sort:"order" %}
    {% for post in sorted_posts %}
     <tr>
                 <td> {{ post.date }} </t>
                 {% if post.material-type == 'ppt' %}
                 	<td> <a href="{{ post.materials }}">{{ post.title }}</a></td>
                 {% elsif post.material-type == 'no-link' %}	
                 	<td> {{ post.title }} </td>
                 {% else %}
                 	<td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 {% endif %}
                 <td> {{ post.lesson-type }} </td> 
     </tr>   
    {% endfor %}
    </table>
</div>

