---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Universidad Regional Amazónica IKIAM</h1>
  <br>
  <br>

    This will be the website for <b>Computing for Biologists<b> for the Spring 2025 semester at St. Marys College of Maryland. All materials will be posted here. <br> <br>
	
	
	Insert short course description here, link to syllabus. <b> <a href="https://github.com/pesalerno/seminario2020/blob/master/files/Silabo_Seminario-Ecosistemas-junio-2020.pdf">sílabo oficial del curso</a> <br>
	<br>  <br> 
	
	--------------------------------------------------------------------------------------
	<br> <br>
	<b>BEFORE THE FIRST LAB:</b>  short description here of programs to try to have installed before the semester starts, 
	
	
	
	<b>BOOK AND RESOURCES:</b> List here.<br> <br>
	
	
	
	

</div>
<br> <br>
<div>

  <h1>COURSE SCHEDULE</h1>

  <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Lesson</th>
            </tr>
	{% assign sorted_posts = site.posts | sort:"order" %}
    {% for post in sorted_posts %}
     <tr>
                 <td> {{ post.time }} </t>
                 {% if post.material-type == 'ppt' %}
                 	<td> <a href="{{ post.materials }}">{{ post.title }}</a></td>
                 {% elsif post.material-type == 'no-link' %}	
                 	<td> {{ post.title }} </td>
                 {% else %}
                 	<td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 {% endif %}
                 <td> {{ post.lesson-type }} </td> 
     </tr>   
    {% endfor %}
    </table>
</div>


